.minecraft-background {
  --background: #9DC183;
  background-image: url("/assets/grass.jpg");
  background-repeat: repeat;
  height: 100%;
}

.quest-group {
  margin-bottom: 12px;

  ion-row {
    display: flex;
    gap: 8px;
    padding: 0 8px;

    ion-col {
      padding: 0;
    }
  }
}
